.FlightContainer{
    background-color: white;
    padding: 3rem;
    border-radius: 30px;
    font-size: 1.5rem;
    z-index: 100;
    padding-bottom: 6rem;
}
.co-grey{
    color: grey;
}

.bookBtn{
    font-size: 1.8rem;
    background: #fe6b03;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 20px;
    border: none;
    color: white;
}